body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #f0f7fe;
}
h3{
    color: rgb(37, 95, 228);
    margin: 5px 0 10px;
}
h2{
    margin-left: 30px;
    color: rgb(37, 95, 228);
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(220, 233, 238);
    margin: 0 20px 0 20px;
}
.container{
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    background-color: white;
}
.box1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
}
.box1 hr{
    width: 100%;
    margin: 0 0 10px 0;

}
.cen{
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    margin-left: 10px;
    justify-content: space-between;
}

.cen p {
    margin-top: 0;
    margin-bottom: 5px;
}
.cen button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 95, 228);
    color: white;
    font-weight: bold;

}
.bg-1{
    display: flex;
    align-items: center;
    top: 0;
    height: 50px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right,coral, orange);
}
.bg-1 h3{
    margin-left: 30px;
    color: white;
    font-weight: bold;
}
.cen button:hover{
    background-color: rgb(85, 136, 255);
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.page {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.8s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

