body{
    background-color: #f0f7fe;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgb(37, 95, 228);
    margin: 5px 0 5px 0;
}
h2{
    margin-left: 30px;
    color: rgb(37, 95, 228);
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(220, 233, 238);
    margin: 0 20px 0 20px;
}
.file-note{
    color: rgb(186, 199, 207);
    margin: 0;
}
.container{
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.container button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 95, 228);
    color: white;
    font-weight: bold;
    margin: 10px;
}
.container button:hover{
    background-color: rgb(85, 136, 255);
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}
label{
    /* background-color: #25d02b; */
    background-color: rgb(37, 95, 228);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    
}
label:hover{
    background-color: rgb(85, 136, 255);
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}
.fx{
    display: flex;
    justify-content: center;
}
.fx-img{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
.fx-img img{
    max-width: 30px;
    max-height: 30px;
}
.bg-1{
    display: flex;
    align-items: center;
    top: 0;
    height: 50px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to right,coral, orange);
}
.bg-1 h3{
    margin-left: 30px;
    color: white;
    font-weight: bold;
}
.box1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
}
.box1 hr{
    width: 100%;
    margin: 0 0 10px 0;

}
.cen{
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    margin-left: 10px;
    justify-content: space-between;
}
.cen p {
    margin-top: 0;
    margin-bottom: 5px;
    /* margin-left: 35px; */
}

.page {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.8s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 600px){
    .cen{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin: 0;
    }
    h2{
        margin-left: 15px;
        width: 250px;
    }
    .fx-img{
    width: 100%;
    }

    .file-name{
        width: 100%;
    }
    label{
     background-color: rgb(92, 195, 135);
    }
    label:hover{
     background-color: rgb(138, 222, 173);
    }

    .cen label{
    display: flex;
    width: 92%;
    justify-content: center;
    margin-left: 0;
  }
}