<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase1</title>
    <link rel="stylesheet" href="../style/Phase1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="page">
        <div class="fx">
            <div class="container">
                <div class="bg-1">
                    <h3>This Week</h3>
                </div>
                <h2>Phase 1: Orientation</h2>
                <div class="box1">
                    <hr>
                    <div class="cen">
                        <div>
                            <h3>Baseline script submission</h3>
                            <p class="file-note">The file size must not exceed 2.5 MB.</p>
                        </div>
                        <span id="fileName" class="file-name">
                            <p>Select your file (1 file)</p>
                        </span>
                        <label>
                            Select file
                            <input type="file" id="file" hidden accept=".pdf,.jpg,.jpeg,.png" onchange="showFileNameOneFile()">
                        </label>
                    </div>
                </div>
                <button id="uploadBtn" onclick=" uploadPhase1()">Upload</button>
            </div>

        </div>
    </div>


</body>
<script src="sc.js"></script>

</html>