<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/Phase2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="page">
        <div class="container">
            <div class="bg-1">
                <h3>This Week</h3>
            </div>
            <div class="cen">
                <h2>Topic 1: Introducing Yourself</h2>
                <p>flie: </p>
                <p>video: </p>
            </div>
            <div class="box1">
                <hr>
                <div class="cenSub">
                    <div class="fx">
                        <img src="../assets/google-docs.png" alt="" width="30px" height="30px" class="move-img" />
                        <h3>Scripts</h3>
                    </div>
                    <div>
                        <button>Upload file (type)</button>
                    </div>
                </div>
                <hr>
                <div class="cenSub">
                    <div class="fx">
                        <img src="../assets/google-docs.png" alt="" width="30px" height="30px" class="move-img" />
                        <h3>Chat logs/ recordings/ transcripts</h3>
                    </div>
                    <div>
                        <button>Upload file (type)</button>
                    </div>
                </div>
                <hr>
                <div class="cenSub">
                    <div class="fx">
                        <img src="../assets/google-docs.png" alt="" width="30px" height="30px" class="move-img" />
                        <h3>Self-rated performance scores(link)</h3>
                    </div>
                </div>
                <hr>
                <div class="cenSub">
                    <div class="fx">
                        <img src="../assets/google-docs.png" alt="" width="30px" height="30px" class="move-img" />
                        <h3>Reflection(link)</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>