<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase1</title>
    <link rel="stylesheet" href="../style/Phase1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="page">
        <div class="fx">
            <div class="container">
                <div class="bg-1">
                    <h3>This Week</h3>
                </div>
                <h2>Phase 1: Orientation</h2>
                <div class="box1">
                    <hr>
                    <div class="cen">
                        <h3>Getting to know you</h3>
                        <p>link: zoom</p>
                    </div>
                    <hr>
                    <div class="cen">
                        <div>
                            <h3>Baseline script submission</h3>
                            <p class="file-note">The file size must not exceed 2.5 MB.</p>
                        </div>
                        <span id="fileName" class="file-name">
                            <p>Select your file (1 file)</p>
                        </span>
                        <label>
                            Select file
                            <input type="file" id="file" hidden accept=".pdf,.jpg,.jpeg,.png" onchange="showFileName()">
                        </label>
                    </div>
                </div>
                <button onclick=" upload()">Upload</button>
            </div>
            <div class="block2">
                <div class="container2">
                    <h3>Next Phase</h3>
                    <p>March 21</p>
                </div>
                <span>
                    <img src="../assets/commu.png" alt="" class="imgMu">
                </span>
            </div>

        </div>
    </div>


</body>

<script>
    const MAX_FILE_SIZE = 2.5 * 1024 * 1024;
    function showFileName() {
        const fileInput = document.getElementById("file");
        const fileName = document.getElementById("fileName");

        if (fileInput.files.length > 0) {
            fileName.textContent = fileInput.files[0].name;
        } else {
            fileName.textContent = "undefined";
        }
    }
    async function upload() {
        const fileInput = document.getElementById("file");
        if (!fileInput.files.length) {
            alert("select your file");
            return;
        }
        const file = fileInput.files[0];
        if (file.size > MAX_FILE_SIZE) {
            alert("The file size must not exceed 10 MB.");
            fileInput.value = "";
            fileName.textContent = "Select your file(1 file)"
            return;
        }
        const originalFile = fileInput.files[0];
        const name = originalFile.name.substring(0, originalFile.name.lastIndexOf("."));
        const ext = originalFile.name.substring(originalFile.name.lastIndexOf("."));
        const newFileName = `${name}_Baseline${ext}`;

        const renamedFile = new File([originalFile], newFileName, {
            type: originalFile.type,
        });
        const formData = new FormData();
        formData.append("file", renamedFile);

        const res = await fetch("https://tiny-darkness-94e3.kamonchanok-10292.workers.dev/", {
            method: "POST",
            body: formData,
        });

        const data = await res.json();
        console.log("Uploaded as:", newFileName);

        // รีเซ็ตหลังอัปโหลด
        fileInput.value = "";
        fileName.textContent = "Select your file (1 file)";

    }
</script>

</html>