<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/Phase1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="page">
        <div class="container">
            <div class="bg-1">
                <h3>This Week</h3>
            </div>
            <h2>Phase 1: Orientation</h2>
            <div class="box1">
                <hr>
                <div class="cen">
                    <h3>Getting to know you</h3>
                    <p>link: zoom</p>
                </div>
                <hr>
                <div class="cen">
                    <h3>Baseline script submission</h3>
                    <button>Upload file (type)</button>
                </div>
            </div>
        </div>

    </div>


</body>

</html>