<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../style/uploadfiles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="outCon">
        <div class="container">
            <h2>Upload file (test)</h2>
            <div class="file-row">
                <span id="fileName" class="file-name">
                    Select your file(1 file).
                    <p>The file size must not exceed 10 MB.</p>
                </span>

                <label class="file-btn">
                    Select file
                    <input type="file" id="file" hidden accept=".pdf,.jpg,.jpeg,.png" onchange="showFileName()">
                </label>
            </div>
            <br />
            <button onclick=" upload()">Upload</button>
        </div>
        <br />
        <div id="result"></div>
        <div id="successOverlay" class="overlay hidden">
            <div class="overlay-box">
                <h2>✅ Upload Success</h2>
                <p id="successText">Success</p>

                <a id="fileLink" href="#" target="_blank" class="file-link">
                    open file
                </a>

                <button onclick="closeOverlay()">close</button>
            </div>
        </div>

    </div>



    <script>
        const MAX_FILE_SIZE = 10 * 1024 * 1024;
        function showFileName() {
            const fileInput = document.getElementById("file");
            const fileName = document.getElementById("fileName");

            if (fileInput.files.length > 0) {
                fileName.textContent = fileInput.files[0].name;
            } else {
                fileName.textContent = "undefined";
            }
        }
        async function upload() {
            const fileInput = document.getElementById("file");
            if (!fileInput.files.length) {
                alert("select your file");
                return;
            }

            const file = fileInput.files[0];

            if (file.size > MAX_FILE_SIZE) {
                alert("The file size must not exceed 10 MB.");
                fileInput.value = "";
                fileName.textContent = "Select your file (1 file)";
                return;
            }

            const formData = new FormData();
            formData.append("file", fileInput.files[0]);

            const res = await fetch("https://tiny-darkness-94e3.kamonchanok-10292.workers.dev/", {
                method: "POST",
                body: formData,
            });

            const data = await res.json();
            if (data.success) {
                showSuccess(data.url);
            }

            // if (data.success) {
            //     document.getElementById("result").innerHTML = `
            //     <p>upload success</p>
            //     <a href="${data.url}" target="_blank">view</a>
            //     `;
            // }

        }
        function showSuccess(url) {
            document.getElementById("fileLink").href = url;
            document.getElementById("successOverlay").classList.remove("hidden");

            // 🔄 ล้างค่า input + รีเซ็ตข้อความ
            const fileInput = document.getElementById("file");
            const fileName = document.getElementById("fileName");

            fileInput.value = ""; // ล้างไฟล์ที่เลือก
            fileName.textContent = "Select your file (1 file)";
        }

        function closeOverlay() {
            document.getElementById("successOverlay").classList.add("hidden");
        }
    </script>

</body>

</html>